/* Default design for MobileCMS (author Mad) */

body {
    color: #808080;
    margin: 0;
    font: 12px Arial;
    background: none repeat scroll 0 0;
    margin: auto;
    max-width: 400px;
}

/* Ссылки */
a:link, a:active, a:visited {
    color: #009cf0;
    text-decoration: none;
}
a:hover, a:focus {
    color: #b1b1b1;
    text-decoration: underline;
}

/* Изображения */
img {
    border-style: none;
    vertical-align: middle;
}

/* Абзацы (под вопросом использование) */
p {
    margin: 2px;
}

/* Элементы форм */
input, textarea, select, .auth a, .menu, .title, .error {
    border-radius: 4px;
}
input, textarea, select {
    color: #828282;
    margin: 1px;
    padding: 2px;
    border: 1px solid #e3e3e3;
    background: #fff;
}
input:focus, textarea:focus, select:focus {
    color: #7a7a7a;
    margin: 1px;
    padding: 2px;
    border: 1px solid #e7e7e7;
    background: #fbfbfb;
}
input[type="submit"] {
    color: #fff;
    background: url('../images/authh.gif') 50% top repeat-x #199bd6;
    padding: 3px;
    border-style: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    color: #fff;
    background: url('../images/copy.gif') 0 top repeat-x #7e7e7e;
}

/* Шапка (+ логотип) */
.head {
    border-bottom: 2px solid #d7d7d7;
    background: url('../images/head.gif') repeat-x 50% top;
}
.head images {
    vertical-align: middle;
}

/* Авторизация */
.auth {
    margin-top: -22px;
    margin-bottom: 8px;
    padding-left: 43px;
}
.auth a {
    color: #acacac;
    font-size: 10px;
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid #dfdfdf;
    background: #f7f7f7 url('../images/auth.gif') repeat-x 50% top;
}
.auth a:hover {
    color: #fff;
    font-size: 10px;
    padding-right: 4px;
    padding-left: 4px;
    border-color: #93e6ec;
    border-style: groove ridge ridge groove;
    border-width: 2px;
    background: #199bd6 url('../images/authh.gif') repeat-x 50% top;
    text-decoration: none;
}

/* Реклама */
.adv, .stat {
    text-shadow: #fff 1px 1px 0;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 4px;
    background: #e2e2e2 url('../images/adv.gif') repeat-x 50% top;
}
.adv a {
    padding-left: 14px;
    background: url('../images/star.gif') no-repeat left 50%;
}

/* Простой блок */
.block {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 4px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #fdfdfd;
}

/* Содержимое страницы */
.main {
    margin-top: 1px;
    padding-top: 3px;
    margin-bottom: 1px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #f8f8f8;
}

/* Заголовок */
.title {
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: 6px;
    margin-bottom: -32px;
    margin-left: 6px;
    padding-right: 6px;
    padding-left: 6px;
    border-color: #8fdcff;
    border-style: groove ridge ridge groove;
    border-width: 2px;
    display: table;
    background: #1895d4 url('../images/til.gif') repeat-x 50% top;
}
.title a {
    color: #fff;
    border-bottom: 1px dotted #ace6ff;
}
.title + .menu, .title + .block {
    margin-top: 6px;
    margin-bottom: 4px;
    padding-top: 28px;
}
.title + form .menu {
    margin-top: 6px;
    padding-top: 30px;
}

/* Иконка */
.ico {
    vertical-align: middle;
}

/* Ошибки */
.error {
    color: #fff;
    margin: 2px;
    padding: 4px;
    background: #ff4747;
}

/* Меню */
.menu {
    margin: 2px;
    padding: 6px;
    border: 1px solid #e6e6e6;
    background: #fff url('../images/main.gif') repeat-x 50% top;
}

/* Копирайт */
.copy {
    padding: 5px;
    background: #7e7e7e url('../images/copy.gif') repeat-x 50% top;
    color: #ddd;
}
.copy a {
    color: #fdfdfd;
}
.copy a:hover, a:focus {
    text-decoration: underline;
}

/* Новые объекты */
span.new {
    color: red;
    font: 11px Arial;
}
span.new a {
    color: red;
    text-decoration: none;
}

/* Счетчики */
span.count {}

/* Под вопросом использование */
.nav {
    margin-top: -14px;
    margin-bottom: 2px;
}